node-red.json
[
  {
    "id": "174a7451.8cd61c",
    "type": "mqtt in",
    "z": "4fa399ee.475758",
    "name": "RPiDeviceInfo/#",
    "topic": "RPiDeviceInfo/#",
    "qos": "0",
    "datatype": "json",
    "broker": "bc0ed854.c36248",
    "x": 100,
    "y": 300,
    "wires": [
      [
        "596b2594.36f2fc",
        "4f13b6d2.d4e188"
      ]
    ]
  },
  {
    "id": "607f3481.3e8f3c",
    "type": "blynk-ws-out-write",
    "z": "4fa399ee.475758",
    "name": "PiDesktop Blynk connection",
    "pin": "0",
    "pinmode": "1",
    "client": "ed7c2e47.56de28",
    "x": 880,
    "y": 200,
    "wires": []
  },
  {
    "id": "7c069e16.ebc3e",
    "type": "split",
    "z": "4fa399ee.475758",
    "name": "JSON key split",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "key",
    "x": 400,
    "y": 420,
    "wires": [
      [
        "2287e326.d561ec"
      ]
    ]
  },
  {
    "id": "2287e326.d561ec",
    "type": "function",
    "z": "4fa399ee.475758",
    "name": "Pin selection",
    "func": "switch (msg.key) {\n    case 'timestamp':\n        msg.pin = 4;\n        break;\n    case 'hostname':\n        msg.pin = 6;\n        break;\n    case 'address':\n        msg.pin = 5;\n        break;\n    case 'temperature':\n        msg.pin = 0;\n        break;\n    case 'cpu_load':\n        msg.pin = 1;\n        break;\n    case 'memory_load':\n        msg.pin = 2;\n        break;\n    case 'disk_usage':\n        msg.pin = 3;\n        break;\n    case 'uptime':\n        msg.pin = 10;\n        uptime_str = msg.payload.days + \"d\";\n        uptime_str += \" \" + msg.payload.hours + \"h\";\n        uptime_str += \" \" + msg.payload.minutes + \"m\";\n        uptime_str += \" \" + msg.payload.seconds + \"s\";\n        msg.payload = uptime_str;\n}\n// set measurement\nmsg.payload = msg.payload;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 590,
    "y": 480,
    "wires": [
      [
        "643e9fc4.f11968"
      ]
    ]
  },
  {
    "id": "596b2594.36f2fc",
    "type": "function",
    "z": "4fa399ee.475758",
    "name": "Put hostname in context",
    "func": "flow.set(\"hostname\", msg.payload.hostname);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 330,
    "y": 300,
    "wires": [
      [
        "7c069e16.ebc3e"
      ]
    ]
  },
  {
    "id": "643e9fc4.f11968",
    "type": "switch",
    "z": "4fa399ee.475758",
    "name": "Hostname switch",
    "property": "hostname",
    "propertyType": "flow",
    "rules": [
      {
        "t": "eq",
        "v": "PiDesktop",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "PiNightSky",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "PiSkyWeather2",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "PiWeatherSense",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 630,
    "y": 300,
    "wires": [
      [
        "607f3481.3e8f3c"
      ],
      [
        "7ea50cf1.690c94"
      ],
      [
        "5d35d4eb.103774"
      ],
      [
        "ce1ced8f.99e458"
      ]
    ]
  },
  {
    "id": "7ea50cf1.690c94",
    "type": "blynk-ws-out-write",
    "z": "4fa399ee.475758",
    "name": "PiNightSky Blynk connection",
    "pin": "0",
    "pinmode": "1",
    "client": "93cac4bd.52cb88",
    "x": 900,
    "y": 260,
    "wires": []
  },
  {
    "id": "5d35d4eb.103774",
    "type": "blynk-ws-out-write",
    "z": "4fa399ee.475758",
    "name": "PiSkyWeather2 Blynk connection",
    "pin": "0",
    "pinmode": "1",
    "client": "ad556b61.4eefa",
    "x": 920,
    "y": 320,
    "wires": []
  },
  {
    "id": "4f13b6d2.d4e188",
    "type": "debug",
    "z": "4fa399ee.475758",
    "name": "Device info payload",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 310,
    "y": 480,
    "wires": []
  },
  {
    "id": "ce1ced8f.99e458",
    "type": "blynk-ws-out-write",
    "z": "4fa399ee.475758",
    "name": "PiWeatherSense Blynk connection",
    "pin": "0",
    "pinmode": "1",
    "client": "68c9e846.6f0f18",
    "x": 920,
    "y": 380,
    "wires": []
  },
  {
    "id": "bc0ed854.c36248",
    "type": "mqtt-broker",
    "name": "YOUR-BROKER-NAME",
    "broker": "YOUR-BROKER-ADDRESS",
    "port": "YOUR-BROKER-PORT",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "ed7c2e47.56de28",
    "type": "blynk-ws-client",
    "name": "PiDesktop",
    "path": "ws://blynk-cloud.com/websockets",
    "key": "YOUR-BLYNK-APPLICATION-KEY",
    "dbg_all": false,
    "dbg_read": false,
    "dbg_write": false,
    "dbg_notify": false,
    "dbg_mail": false,
    "dbg_prop": false,
    "dbg_sync": false,
    "dbg_bridge": false,
    "dbg_low": false,
    "dbg_pins": "",
    "multi_cmd": false,
    "proxy_type": "no",
    "proxy_url": "",
    "enabled": true
  },
  {
    "id": "93cac4bd.52cb88",
    "type": "blynk-ws-client",
    "name": "PiNightSky",
    "path": "ws://blynk-cloud.com/websockets",
    "key": "YOUR-BLYNK-APPLICATION-KEY",
    "dbg_all": false,
    "dbg_read": false,
    "dbg_write": false,
    "dbg_notify": false,
    "dbg_mail": false,
    "dbg_prop": false,
    "dbg_sync": false,
    "dbg_bridge": false,
    "dbg_low": false,
    "dbg_pins": "",
    "multi_cmd": false,
    "proxy_type": "no",
    "proxy_url": "",
    "enabled": true
  },
  {
    "id": "ad556b61.4eefa",
    "type": "blynk-ws-client",
    "name": "PiSkyWeather2",
    "path": "ws://blynk-cloud.com/websockets",
    "key": "YOUR-BLYNK-APPLICATION-KEY",
    "dbg_all": false,
    "dbg_read": false,
    "dbg_write": false,
    "dbg_notify": false,
    "dbg_mail": false,
    "dbg_prop": false,
    "dbg_sync": false,
    "dbg_bridge": false,
    "dbg_low": false,
    "dbg_pins": "",
    "multi_cmd": false,
    "proxy_type": "no",
    "proxy_url": "",
    "enabled": true
  },
  {
    "id": "68c9e846.6f0f18",
    "type": "blynk-ws-client",
    "name": "PiWeatherSense",
    "path": "ws://blynk-cloud.com/websockets",
    "key": "YOUR-BLYNK-APPLICATION-KEY",
    "dbg_all": false,
    "dbg_read": false,
    "dbg_write": false,
    "dbg_notify": false,
    "dbg_mail": false,
    "dbg_prop": false,
    "dbg_sync": false,
    "dbg_bridge": false,
    "dbg_low": false,
    "dbg_pins": "",
    "multi_cmd": false,
    "proxy_type": "no",
    "proxy_url": "",
    "enabled": true
  }
]